<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/hly/test/AutoTest/src/main/java/com/course/testng/paramter/ParamterTest.java">
        <classes/>
    </test>
</suite>